* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Press Start 2P', cursive;
    background-color: orange;
}

.nes-btn {
    position: absolute;
    top: 2em;
    z-index: 99;
}

.container {
    max-width: 900px;
    width: 90%;
    margin-inline: auto;
}

.pokemon-container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.name {
    text-transform: capitalize;
}

.pokemon-image {
    flex: 1;
    position: relative;
}

.pokemon-image img {
    position: absolute;
    /* width: 400px; */
    width: 200px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    /* bottom: -50px;
    left: 51.5%;
    transform: translate(-50%); */
}

.pokemon-details {
    width: 100%;
    flex: 1;
    background-color: white;
    /* border-radius: 20px 20px 0 0; */
    padding: 30px;

    display: flex;
    justify-content: center;
    text-align: center;
}

.details-container {
    width: 100%;
}

.spec {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid lightgray;
    padding: 10px;
}

.spec p {
    margin-bottom: 0;
}
